{% extends 'base.html.twig' %}

{% block title %} Blog JStore! {% endblock %}

{% block body %}
    <div class="articles-infos">
        <p> Articles de la catégorie : <strong>{{ category.name }}</strong> </p>
        <strong>{{ articles | length }}</strong> articles retrouvés
    </div>
    <div class="articles">
    {% for article in articles %}
        <a href="/article/{{ article.slug }}" class="article-item">
            <div class="article-image">
                <img src={{ article.imageUrl }} alt="Image de l'article: {{ article.title }}">
            </div>
            <div class="article-details flex">
                <div class="article-author-details">
                    <div class="article-author-picture">
                    {% if article.author.profile.picture is defined %}
                        <img src={{ article.author.profile.picture }} width="50" height="50" alt="Image de profile de {{ article.author.fullname }}">
                    {% else %}
                        <img src="/_assets/images/avatar_jstore.webp" width="50" height="50" alt="Image de profile de {{ article.author.fullname }}">
                    {% endif %}
                    </div>
                </div>
                <div class="article-content-title">
                    <h3 class="article-title">{{ article.title }}</h3>
                    <div class="article-createdAt">{{ article.fromNow }}</div>
                </div>
            </div>
        </a>
    {% endfor %}
    </div>
{% endblock %}
