{% extends 'base.html.twig' %}

{% block title %}
  Hello ContactController!
{% endblock %}
{% set aside = 'not' %}
{% block header %}
  {{
    include(
      'header/header.html.twig',
      {
        name: 'Contactez nous'
      }
    )
  }}
{% endblock %}
{% block body %}
  {{ form_start(contact) }}
  {% for message in app.session.flashBag.get('message') %}
    <div class="alert {{ app.session.get('status') }} ">
      {{ message }}
    </div>
  {% endfor %}
  {{ form_end(contact) }}
{% endblock %}
