{% extends 'base.html.twig' %}

{% block title %}
  Article index
{% endblock %}
{% set aside = 'not' %}
{% block body %}
  <div class="UserDashboard flex gap-20">
    {{
      include(
        'account_dashboard/index.html.twig',
        {
          page: 'articles'
        }
      )
    }}
    <div class="UserDashboard-container">
      <h1>
        Vos articles publiees
      </h1>
      <div class="flex mb-10">
        {# <a class="btn" href="{{ path('app_article_new') }}">
          Ajouter un nouveau article
        </a> #}
      </div>

      <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th>
                Id
              </th>
              <th>
                Title
              </th>
              <th>
                Content
              </th>
              <th>
                ImageUrl
              </th>
              <th>
                CreatedAt
              </th>
              <th>
                UpdatedAt
              </th>
              <th>
                actions
              </th>
            </tr>
          </thead>
          <tbody>
            {% for article in articles %}
              <tr>
                <td>
                  {{ article.id }}
                </td>
                <td>
                  {{ article.title }}
                </td>
                <td class="td-content">
                  <div class="article-content">
                    {{ article.content|raw }}
                  </div>
                </td>
                <td>
                  <img src="{{ article.imageUrl }}"
                    alt="Image de {{ article.title }}" />
                </td>
                <td>
                  {{ article.createdAt
                    ? article.createdAt|date('Y-m-d H:i:s')
                    : '' }}
                </td>
                <td>
                  {{ article.updatedAt
                    ? article.updatedAt|date('Y-m-d H:i:s')
                    : '' }}
                </td>
                <td>
                  <div class="flex gap-5">
                    <a class="btn"
                      href="{{
                      path(
                        'app_article_show',
                        {
                          id: article.id
                        }
                      )
                      }}">
                      show
                    </a>
                    <a class="btn"
                      href="{{
                      path(
                        'app_article_edit',
                        {
                          id: article.id
                        }
                      )
                      }}">
                      edit
                    </a>
                    {{ include('article/_delete_form.html.twig') }}
                  </div>
                </td>
              </tr>
            {% else %}
              <tr>
                <td colspan="8">
                  Vous n'avez pas encore publié d'article
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
  <script>
    $('.article-content').readmore({speed: 75, moreLink:'<a class="btn btn-read"
      href="">
      Voir plus
    </a>', lessLink:'<a class="btn btn-read" href="">Voir moins</a>'});
  </script>
{% endblock %}
